/*====================================================*/
/*【header的部分】*/
/*====================================================*/
/*【992以上】PC版型*/

/*表頭*/
.header{
  padding: 30px 3.75% 29px 3.75%;
  background: $bg_primary_r;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*logo*/
.header__logo{
    display: block;
    height: 49px;
    width: 80px;
    background-image: url(../images/layout/logo.png);
    margin: 0 auto;
  
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
  }

/*選單*/
.header__menuList{
  width: 420px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/*選單按鈕*/
.header__menuList__btn{
  font-size: 20px;
  font-weight: $fw_medium;
  line-height: 30px;
  text-decoration: none;
  color: $fc_primary_w;
}

/*=======================*/
/*【575~321px】6吋以下手機*/
@media (max-width:575px){
  
  /*變更單欄式版型*/
  /*讓左右變滿版*/
  .header{
    padding: 10px 0px 0px 0px;
  }
  
  /*讓左右變滿版*/
  h1{
    width: 100%;
    margin-bottom: 10px;
  }

  /*讓左右變滿版*/
  .header__menuList{
    width: 100%;
  }

  /*變成左右兩格按鈕*/
  .header__menuList__flexItem{
    width: 50%;
    border: 1px solid $fc_primary_w;
  }

  /*按鈕文字置中*/
  .header__menuList__btn{
    display: block;
    text-align: center;
  }
}

/*====================================================*/
/*【footer的部分】*/
/*====================================================*/
/*【992以上】PC版型*/
.footer{
  background: $bg_primary_r;
  padding-top: 36px;
  padding-bottom: 28px;
}

/*上半部，聯絡資訊內容區域*/
.footer__contact{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $fc_primary_w;
  margin-bottom: 24px;
}

/*排列footer選單*/
.footer__menuList{
  width: 464px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

/*footer選單按鈕*/
.footer__menuList__btn{
  font-size: 16px;
  font-weight: $fw_regular;
  line-height: 48px;
  text-decoration: none;
  color: $fc_primary_w;
}

/*聯絡資訊內容*/
.footer__contact__info{

  .tel{
    margin-bottom: 17px;
  }

  .mail{
    margin-bottom: 22px;
  }
  
  .icon{
    margin-right: 12px;
  }

  .info{
    display: flex;
    font-size: 36px;
    line-height: 54px;
    font-weight: $fw_regular;
    color: $fc_primary_w;
    text-decoration: none;
  }
}

/*排列社群網站Icon*/
.footer__snsList{
  width: 208px;
  display: flex;
  justify-content: space-between;
}

/*社群網站ICON*/
.footer__snsList__btn{
  display: block;
  width: 48px;
  height: 48px;
  background-size: cover;
}

/*設定社群Icon圖片*/
.footer__snsList__fbIcon{ background-image: url(../images/layout/ic_social_fb.svg); }
.footer__snsList__igIcon{ background-image: url(../images/layout/ic_social_ig.svg); }
.footer__snsList__lineIcon{ background-image: url(../images/layout/ic_social_line.svg); }


/*=======================*/
/*下半部：版權宣告*/
.copyRightsArea{
  display: flex;
  justify-content: space-between;
}

/*【1200px以上】PC版型*/
.footer__container{
  width: 1110px;
  margin: 0 auto;
}

/*排版版權聲明區*/
.copyRights__textList{
  display: flex; 
}

.copyRights__textList__logo{
  margin-right: 38px;
}

.copyRights__textList__text{
  font-size: 16px;
  line-height: 48px;
  color: $fc_primary_w;
  font-weight: $fw_regular;
}

.copyRights__linksList{
  display: flex;
}

/*隱私權政策*/
.copyRights__linksList__privacyPolicy__link{
  margin-right: 62px;
  font-size: 14px;
  line-height: 48px;
  font-weight: $fw_regular;
  color: $fc_primary_w;
  text-decoration: none;
}

/*服務條款*/
.copyRights__linksList__TermsOfService__link{
  font-size: 14px;
  line-height: 48px;
  font-weight: $fw_regular;
  color: $fc_primary_w;
  text-decoration: none;
}

/*=======================*/
/*【1200~992px】PC版型*/
@media (max-width:1200px){
  /*置中用容器*/
  .footer__container{
    max-width: 92.5%;
  }
}

/*=======================*/
/*【991~768px】平板*/
@media (max-width:991px){
  /*排列footer選單*/
  .footer__menuList{
    width: 432px;
    margin-bottom: 22px;
  }

  /*footer選單按鈕*/
  .footer__menuList__btn{
    line-height: 24px;
  }

  /*調整字體大小等*/
  .footer__contact__info{

    .tel{
      margin-bottom: 11px;
    }

    .mail{
      margin-bottom: 27px;
    }
    
    .icon{
      margin-right: 8px;
      width: 30px;
      height: 30px;
    }

    .info{
      font-size: 20px;
      line-height: 30px;
    }
  }

  /*排列社群網站Icon*/
  .footer__snsList{
    width: 120px;
  }

  /*社群網站ICON*/
  .footer__snsList__btn{
    width: 24px;
    height: 24px;
  }

  /*隱藏表尾logo*/
  .copyRights__textList__logo{
    display: none;
  }

  .copyRights__textList__text{
    line-height: 24px;
  }
  
  .copyRights__linksList__privacyPolicy__link{
    margin-right: 24px;
    line-height: 21px;
  }
  
  .copyRights__linksList__TermsOfService__link{
    line-height: 21px;
  }

}

/*=======================*/
/*【767~576px】手機*/
@media (max-width:767px){
  .footer{
    padding-top: 23px;
    padding-bottom: 25px;
  }
  
  /*隱藏表尾選單*/
  .footer__menuList{
    display: none;
  }

  /*讓logo定位用的父層*/
  .copyRightsArea{
    flex-wrap: wrap;
    position: relative;
  }

  /*logo位置定位到右下*/
  .copyRights__textList__logo{
    display: block;
    position: absolute;
    margin-right: 0px;
    right: 0;
    bottom: 0;
  }

  .copyRights__textList{
    width: 100%;
    margin-bottom: 7px;
  }

  /*變成直版排列*/
  .copyRights__linksList{
    width: 100%;
    flex-direction: column;
  }

  .copyRights__linksList__privacyPolicy{
    margin-bottom: 8px;
  }
}





